.input {
    background-color: #535353;
    border-style: none;
    color: #FFCC02;
    height: 3em;
    text-align: center;
    padding: 1em;
    border-bottom: 3px solid #FFCC02;
}

.input:hover {
    opacity: 0.5;
}

.input:focus {
    outline: none;
}