.formProfessionalInformation {
    margin: auto;
    display: flex;
    width: 90%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.formProfessionalInformation h2 {
    font-size: 18px;
    /* padding-top: 30px; */
    /* padding-bottom: 30px; */
}

.education {
    display: flex;
    margin-top: 30px;
    width: 100%;
    text-align: left;
    flex-wrap: wrap;
    justify-content: space-between;
}

.experience {
    margin-top: 30px;
    width: 100%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inputs {
    width: 100%;
    position: relative;
    /* background-color: aqua; */
}

.inputs i {
    position: absolute;
    right: 0;
    width: 20px;
}

.containDate {
    width: 49%;
}
.inputDate {
    width: 100%;
    height: 35px;
    padding: 8px 8px;
    border: 1px solid;
    margin: 18px 0;
}

.label {
    font-size: 18px;
    text-align: left;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    margin-left: 5px;
}

.label span {
    color: black;
    font-weight: 200;
    font-size: 14px;
}

.inputPersonal {
    height: 35px;
    padding: 0px 15px;
    width: 100%;
    outline: none;
    margin: 18px 0;
}

.inputFile {
    color: blue;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.inputFile input[type="file"]::-webkit-file-upload-button {
    cursor: pointer;
}

.inputFile [type="file"] {
    cursor: pointer;
    display: block;
    font-size: 100px;
    filter: alpha(opacity = 0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    text-align: left;
    top: 0;
}

.imgDocument {
    width: 70px;
}
.deleteImg {
    font-size: 30px;
    margin-right: 15px;
    cursor: pointer;
}
.containDelete {
    display: flex;
    align-items: flex-start;
}

.title {
    border-bottom: 2px solid #ffcc02;
    width: 100%;
    margin-bottom: 30px;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title i {
    position: absolute;
    right: 0;
    font-size: 18px;
    cursor: pointer;
    width: 20px;
}

.btnSubmit {
    background-color: #ffcc02;
    border-radius: 10px;
    padding: 5px 20px;
    margin-left: auto;
    font-family: "Roboto", sans-serif;
    border: none;
    font-size: 18px;
    margin: 20px 10px 30px auto;
    cursor: pointer;
    width: 200px;
}

.btnSubmit:hover {
    background-color: black;
    color: #ffcc02;
}
