.container1 {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #d7d7d7;
}

.container2 {
    width: 98%;
    height: 98%;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #d7d7d7;
    flex-direction: column;
    border: 1px solid;
    border-color: #92c149;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 5px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.icon_cont {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: #ffcc02;
    font-weight: 900;
}

.icon_cont2 {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.icon_cont2 p {
    margin-left: 0;
}

.text_cont {
    margin-left: -90px;
}
@media (min-width: 768px) {
    .container2 {
        width: 90%;
        max-width: 90%;
    }
}

@media (min-width: 1024px) {
    .container2 {
        width: 98%;
        max-width: 1112px;
    }
}
