.container1 {
    width: 357px;
    height: 177px;
    display: flex;
    background-color: #535353;
    margin: 15px;
    margin-bottom: 5px;
    color: #FFCC02;
    box-shadow: 2px 2px 2px 1px rgb(255, 204, 2);
    border-radius: 15px;
}

.icon_cont {
    border-radius: 15px 15px 0 0;
    width: 357px;
    background: #282828;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 1px 1px rgb(255, 204, 2);
}

.title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
}

.title p {
    padding-left: 30px;
}

.icon_cont2 {
    border-radius: 15px 15px 0 0;
    width: 357px;
    background: #FFCC02;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.icon_cont2 p {
    margin-left: 0;
    font-size: 15px;
}

.text_cont {
    margin-left: -90px;
}

@media (min-width: 768px) {
    .container2 {
        width: 90%;
        max-width: 90%;
    }
}

@media (min-width: 1024px) {
    .container2 {
        width: 98%;
        max-width: 1112px;
    }
}