.section {
    padding: 15rem 0 2rem;
    width: 100%;
    min-height: 100vh;
}


.cardContainer {
    display: grid;
    grid-template-columns: repeat(autofill, 600px);
    grid-column-end: -1;
    gap: 40px;
    padding: 40px;
    justify-content: space-between;
}

.newscard {
    width: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px #92c149;
    margin-bottom: 30px;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 800px) {
    .newscard {
        width: 100%;
    }

    .commentHidden {
        width: 100%;
        margin: 0 auto;
        display: block;
        justify-content: left;
        overflow: hidden;
    }
}

.userInformation {
    display: flex;
    justify-content: initial;
}

.iconsCard {
    display: flex;
    justify-content: space-between;
}

.namePerson {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 700 bold;
    margin: 8px;
}

.cohort {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin: 8px;
}

.time {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin: 8px;
}

.paragraph {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 300;
}

/*
.cardContainer:hover {
    transform: scale(1.1);
}
*/
.imageContainer {
    overflow: hidden;
    height: 200px;
    width: 100%;
    background-color: white;
}

.imageContainer img {
    width: 100%;
}

.imageAvatar {
    overflow: hidden;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
}

.imageAvatar img {
    width: 100%;
    height: 100%;
}

.user {
    display: inline;
    height: 100px;
}

.commentHidden {
    border-radius: 50px;
    height: 35px;
    width: 100%;
    font-size: 14px;
    margin-top: 10px;
}

.likeButton {
    display: flex;
    justify-content: left;
}

.commentButton {
    overflow: hidden;
    width: auto;
}

.btnComment {
    background-color: #ffd800;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    border-radius: 50px;
    font-weight: 500;
    margin-top: 10px;
}