@font-face {
  font-family: Gilroy-bold;
  src: url("../../assets/fonts/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: Gilroy-light;
  src: url("../../assets/fonts/Gilroy-Light.otf") format("opentype");
}
/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 3rem 0 2rem;
  width: 100%;
  min-height: 100vh;
  background-color: #ececec;
  font-family: Gilroy-bold;
}
.section__global {
  max-width: 1128px;
  margin: 0 auto;
}
.section__title {
  display: flex;
  justify-content: center;
  column-gap: 5px;
  margin: 0;
}
.section__lineTitle {
  width: 200px;
  border: 2px solid #ffcc02;
}

.section__container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding-top: 10px;
}
/*=============== QUESTION COMPONENT ===============*/
.section__options{
  width: 80%;
  margin: 0 auto;
}
.container__search{
  display: flex;
  justify-content: center;
  margin: 30px 0;
  position: relative;

}
.searchQuestion{
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px 15px;
  width: 80%;
}
.iconSearch{
  font-size: 30px;
  position: absolute;
  top: 5px;
  right: 105px;
}
.btn__container, .questionAnswer{
  display: flex;
  justify-content: space-between;
}
.questionAnswer{
  margin-top: 20px;
}

.btn__addfilter{
  display: flex;
  column-gap: 5px;
  cursor: pointer;
}
.resourceContainerMain {
  border: 2.2px solid #ffc107;
  padding: 1rem 2rem;
  border-radius: 20px;
  width: 80%;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.resource,
.tagsItems,
.name,
.dateResource {
  margin: 0;
}
.containerResource, .containerLikeTags {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.resource {
  font-size: 17px;
}
.dateResource {
  font-size: 14px;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
}
.tagsItems {
  padding: 0.5rem 1rem;
  background-color: #d7d7d7;
  border-radius: 5px;
  font-family: Gilroy-light;
  letter-spacing: 1.5px;
}

.containerLikes{
  display: flex;
  align-items: center;
}
.infoContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn__view{
  cursor: pointer;
}

@media (max-width: 640px) {
  .resourceContainerMain{
    padding: 1rem;
    width: 90%;

  }
  .containerResource {
    display: block;
  }
  .name {
    margin-bottom: 10px;
  }
  .searchQuestion{
    width: 100%;
  }
}

@media (max-width: 580px) {
  .infoContainer {
    display: block;
  }
}