.container1 {
    width: 23em;
    height: 40em;
    display: flex;
    background-color: #535353;
    margin: 15px;
    color: #FFCC02;
    Box-shadow: 0 10px 20px rgba(0, 0, 0, 0.658), 0 6px 6px rgba(143, 142, 140, 0.514);
    border-radius: 15px;
    /* overflow: scroll; */
}

.icon_cont {
    margin-bottom: 1rem;
    border-radius: 15px 15px 0 0;
    width: 23em;
    background: #282828;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    Box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.boxGitHub {
    border: 2px solid green;
    width: 23em;
}

.box a {
    font-size: 15px;
}

.box a:hover {
    color: #fff;
}

.icon_cont2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.title {
    font-size: 24px;
    font-weight: 900;
}

.title p {
    padding-left: 30px;
}

.icon_cont2 p {
    color: #FFCC02;
    font-size: 15px;
}

@media (min-width: 768px) {
    .container2 {
        width: 90%;
        max-width: 90%;
    }
}

@media (min-width: 1024px) {
    .container2 {
        width: 98%;
        max-width: 1112px;
    }
}