.container1 {
    width: 357px;
    height: 177px;
    display: flex;
    background-color: white;
    border-radius: 15px;
    padding: 5px 15px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.icon_cont {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title{
    color: #FFCC02;
    font-weight: 900;
}

.icon_cont2{
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}