.section_container{
    padding: 3rem 0 2rem;
    width: 100%;
    min-height: 100vh;
}

.form_container {
    width: 90%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid #92c149;
    border-radius: 10px;
    padding: 10px 45px;
    font-family: "Roboto", sans-serif;
}
.title {
    display: inline-block;
    text-align: center;
}

.subtitle {
    font-size: 18px;
    margin-left: 5px;
}
.nom_input {
    width: 100%;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
    font-size: 16px;
    outline: none;
}
.textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    font-size: 16px;
    outline: none;
}
.tecno button {
    width: 100px;
    height: 30px;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid;
    border-color: #92c149;
    background-color: #ffffff;
    cursor: pointer;
}
.tecno {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.form img {
    margin-top: 10px;
    height: 50px;
    min-width: 50px;
}

.image {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    /* border-style: solid;
    border: 1px solid; */
    padding: 10px 15px;
    font-size: 18px;
    outline: none;
}

.send button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 40px;
    background-color: #ffcc02;
    border-radius: 10px;
    color: #010101;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    flex-wrap: wrap;
    margin: 10px 35%;
    /* margin-top: 30px;
    margin-bottom: 40px; */
}
.send button:hover {
    background-color: black;
    color: #ffcc02;
}
.send {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40p;
}

/* Medium (md) */
@media (min-width: 768px) {
    .form_container {
        width: 68%;
    }
    .form {
        width: 100%;
    }
}

/* Large (lg) */
@media (min-width: 1024px) {
    .form_container {
        width: 50%;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center; 
    }
    .form {
        width: 100%;
    }
}
