
.form_container {
    width: 90%;
    height: 90%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 2px;
    padding: 10px 45px;
    font-family: "Roboto", sans-serif;
}

.subtitle {
    font-size: 18px;
    margin-left: 5px;
}
.nom_input {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    border-style: solid;
    border: 1px solid;
    border-color: #eceff1;
    padding: 0 15px;
    font-size: 18px;
    outline: none;
    padding-left: 10px;
    background-color: #eceff1;
}
.textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid ;
    border-radius: 2px;
    font-size: 18px;
    outline: none;
    background-color: #eceff1;
    border-color: #eceff1;
    resize: none;
}
.tecno button {
   width: 100px;
    height: 90%;
    padding: 3px;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid;
    border-color: #ffcc02;
    background-color: #ffcc02 ;
    cursor: pointer;
}
.tecno {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.form img {
    margin-top: 10px;
    height: 50px;
    min-width: 50px;
}

.image {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    padding: 10px 15px;
    font-size: 18px;
    outline: none;
}

.send button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 40px;
    background-color: #ffcc02;
    border-radius: 10px;
    color: #010101;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    flex-wrap: wrap;
    margin: 10px 35%;
}
.send button:hover {
    background-color: black;
    color: #ffcc02;
}
.send {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40p;
}

/* Medium (md) */
@media (min-width: 768px) {
    .form_container {
        width: 68%;
    }
    .form {
        width: 100%;
    }
}

/* Large (lg) */
@media (min-width: 1024px) {
    .form_container {
        width: 50%;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center; 
    }
    .form {
        width: 100%;
    }
}
.headerPerfil {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 10px;
    margin-bottom: 20px;
    position: relative;
}

.headerPerfil h2 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.headerPerfil img {
    width: 60px;
    position: absolute;
    left: 0;
}