.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color:rgba(0, 0,0, 0.50) ;
  display:none;
  justify-content: center;
  align-items: center;
 
} 

.isOpen {
  display: flex; 
  
}

.modalContainer {
  padding: 1rem;
  position: relative;
  min-width: 200px;
  max-width: 900px;
  min-height: 200px;
  max-height: 900px;
  overflow-y: auto;
  background-color: #ffffff;

}

.modalClose{
  
  position: absolute;
  top: 1rem;
  right: 1rem;
}

@media (min-width: 768px){
  
}

