.from_container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: "Roboto", sans-serif;
}

.title {
    color: #ffcc02;
    margin-top: 30px;
}

hr {
    background-color: #ffcc02;
}

.container_img {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.trash {
    width: 45%;
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: block;
    font-size: 10px;
    text-align: center;
}

.container_img img {
    width: 70px;
}

h3 {
    font-family: "Roboto", sans-serif;
    margin-left: 5px;
    font-size: 18px;
}

.nom {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    border-style: solid;
    border: 1px solid;
    padding: 0 15px;
    font-size: 18px;
    outline: none;
}

.textarea {
    width: 100%;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid;
    padding: 15px;
    outline: none;
}

.tecnologias button {
    width: 100px;
    height: 30px;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid;
    border-color: #92c149;
    background-color: #ffffff;
}

.tecnologias {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.boton_envia_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.boton_envia {
    display: flex;
    width: 120px;
    height: 30px;
    background-color: #ffcc02;
    border-radius: 10px;
    color: #010101;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
}

.boton_envia:hover {
    background-color: black;
    color: #ffcc02;
}

/* Medium (md) */
@media (min-width: 768px) {
    /* ... */
}

/* Large (lg) */
@media (min-width: 1024px) {
    .from_container {
        width: 90%;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .forms {
        width: 47%;
    }

    .title {
        width: 90%;
    }

    hr {
        width: 110%;
        background-color: #ffcc02;
        color: #ffcc02;
        lighting-color: #ffcc02;
    }

    .container_img {
        width: 90%;
    }

    /* img {
        width: 500px;
        margin-bottom: 20px;
    } */

    .boton_envia_container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 40px;
    }
}
