/* ------------- FORGOT PASSWORD --------------- */
.container-main-forgotPassword {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #D7D7D7;
}
.container-forgotPassword {
  width: 100%;
  max-width: 400px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  padding: 50px;
  background-color: #fff;
}
.container-info-forgotPassword {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}
.title-forgotPassword {
  text-align: center;
  font-size: 17px;
  margin-top: 30px;
}
.button-forgotPassword {
  color: pointer;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #ffd808;
  margin: 30px auto;
  padding: 10px;
  width: 100%;
  display: block;
  border-radius: 6px;
}
/* ------------- MEDIA QUERIES --------------- */
@media (max-width: 400px) {
  .container-forgotPassword{
    height: 100vh;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
