/* ------------- FORGOT PASSWORD --------------- */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  height: 100vh;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2rem;
}
.containerLogo {
  width: 10rem;
}
.containerTitle,
.containerInfo {
  text-align: center;
}
.containerTitle {
  font-size: 3.5rem;
  margin-block: 1.6rem;
}
.containerInfo {
  font-size: 2rem;
  width: 80%;
}
.containerNavigate {
  font-size: 1.6rem;
  text-decoration: underline;
  margin-top: 2rem;
}
.containerForm {
  display: flex;
  flex-direction: column;
}
.containerForm input {
  height: 4.6rem;
  width: 40rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 1.6rem;
}
.containerFormInput {
  background-color: var(--input-color);
  color: var(--input-text);
}
.containerFormInput::placeholder {
  padding: 0.8rem;
}
.containerFormInput:focus {
  outline: none;
  border: 1px solid #add2fa;
  box-shadow: 0 0 5pt 2pt #d7e9ff;
}
.containerFormBtn {
  background-color: var(--main-color);
  cursor: pointer;
}
/* ------------- MEDIA QUERIES --------------- */
@media (max-width: 650px) {
  .containerForm, .containerForm Input, .containerInfo {
    width: 100%;
  }
}
