
.styles.submit{
  width: 100px;
}
.form{
  display: flex;

}
.comments{
  width: 95%;
  margin: auto;
}
.comment_div{
  display: flex;
  flex-direction: column;
  margin-top: 13px;
}
.comment_div span{
display: block;
padding-left: 10px;
padding-bottom: 10px;
}
.header{
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.name{
  padding-top: 10px;
}
.delete{
position: relative;
left: 80%;
font-size: 14px;
cursor: pointer;
}
.delete:hover{
  text-decoration: underline;
}
.img{
  width: 25px;
  height: 25px;
}
.more_comment{
  font-size: 14px;
 cursor: pointer;
 margin-top: 3px;
}
.more_comment:hover{
  text-decoration: underline;
}

