.container1 {
    display: flex;  
    margin-top: 10px;

}

.container2 {
    width: 90%;
    max-width: 640px;
    width: 90%;
    max-width: 100%;
    min-height: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #d7d7d7;
    flex-direction: column;
    background-color:#ffffff;
    padding: 5px 5px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.postUser {
    display: flex;
    gap: 20px;
    align-items: center;
}

.icon_cont1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.icon_cont2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: start;
    width: 90%;
    margin: 15px auto;
}

.iconsModify {
    display: flex;
    margin-top: 0;
}

.iconsModify i {
    margin-left: 20px;
    margin-top: 15px;
    font-size: 25px;
    cursor: pointer;
}
.iconsModify span{
    margin-top: 0;
    background: #ffd800;
    border-radius: 1px;
    
}
.icon { 
    font-size: 50px;
}
.icon img {
    font-size: 14px;
    width: 50px;
    margin-left: 5px;
    border-radius:  5px;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 5px;
}
.icon i {
    width: 50px;
}

.techContains {
    display: flex;
}

.llavePost {
    font-weight:bolder;
}

.arrtech{
  border: 1px #000;
  background-color: #cccccc;
  padding: 3px ;
  border-radius: 2px; 
  margin-right: 5px;
}

.news {
    margin-bottom: 1px;
    margin-left: 10px;
}

.news h3 {
    margin-left: 0;
}

.news p {
    margin-left: 0px;
}

.news img {
    width: 80%;
    max-height: 10rem;
    margin: auto;
    margin-left: 10%;
}

.tech {
    display: inline-block;
      border: 1px #000;
  background-color: #cccccc;
  padding: 3px ;
  border-radius: 2px; 
  margin-right: 5px;
}

.like {
    display: flex;
    align-items: center;
}

.like i {
    margin-right: 10px;
}

.addPosts {
    cursor: pointer;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-color: #000;
    float: right;
    font-size: 18px;
}

/* @media (min-width: 768px) {
    .container2 {
        width: 85%;
        max-width: 85%;
        min-height: 90%;
    }
} */

@media (min-width: 1024px) {
    .container2 {
        min-width: 47%;
        max-width: 540px;
    }
}
