/* .container1 {
    width: 47%;
    max-width: 540px;
    height: 100%;
    display: flex;
    background-color: red;
    margin-top: 20px;
} */

.container2 {
    width: 47%;
    max-width: 540px;
    width: 90%;
    /*  width: 100%;
    max-width: 100%;
    width: 90%; */
    min-height: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #d7d7d7;
    flex-direction: column;
    background-color:#ffffff;
    border-radius: 2px;
    padding: 5px 15px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.postUser {
    display: flex;
    gap: 20px;
    align-items: center;
}

.icon_cont1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.icon_cont2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: start;
    width: 90%;
    margin: 15px auto;
}

.iconsModify {
    display: flex;
    margin-top: 15px;
}

.iconsModify i {
    margin-left: 20px;
    cursor: pointer;
}

.icon {
    font-size: 50px;
}
.icon img {
    font-size: 14px;
    width: 50px;
}
.icon i {
    width: 50px;
}

.techContains {
    display: flex;
    /* justify-content: space-evenly; */
    /* display: inline-block; */
}

.llavePost {
    font-weight: bold;
}

.news {
    margin-bottom: 10px;
}

.news h3 {
    margin-left: 0;
}

.news p {
    margin-left: 0px;
}

.news img {
    width: 80%;
    max-height: 10rem;
    margin: auto;
    margin-left: 10%;
}

.tech {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #7ad149;
    border-radius: 5px;
    font-size: 14px;
}

.like {
    display: flex;
    align-items: center;
}

.like i {
    margin-right: 10px;
}

.addPosts {
    cursor: pointer;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-color: #ffd800;
    float: right;
    font-size: 18px;
}

/* @media (min-width: 768px) {
    .container2 {
        width: 85%;
        max-width: 85%;
        min-height: 90%;
    }
} */

@media (min-width: 1024px) {
    .container2 {
        min-width: 47%;
        max-width: 540px;
    }
}
