.red {
  color: #FF2626;

}

.fa-heart {
  cursor: pointer;

}

.Icon_events {
  padding: 0%;
  margin: 0%;
  background-color: transparent;
  padding: 1em;
  border-radius: 0 8px 0 8px;
}

.Icon_job {
  padding: 0%;
  margin: 0%;
  background-color: transparent;
  padding: 1em;
  border-radius: 0 8px 0 8px;
}

.Icon_news {
  padding: 0%;
  margin: 0%;
  background-color: transparent;
  padding: 1em;
  border-radius: 0 8px 0 8px;
}