.container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 15px;
    flex-wrap: wrap;
    padding-top: 100px;    
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 1px solid;
    border-color: #92C149;
    


}

.img {
    width: 50px;
    
}
.p{
    width: 160px;
}

.icon_Gray i {
    font-size: 25px;
    color: #D7D7D7;
    font-size: 25px;
    cursor: pointer;


}

.icon_green i {
    display: flex;
    color: #99fd02;
    font-size: 25px;
    cursor: pointer;
}

i {
    width: 50%;
}


/* Large (lg) */
@media (min-width: 1024px) {


    .container {
        width: 90%;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        cursor: pointer;
        }


    .card {
        width: 45%;
        padding: 20px;
        
    }

}
