.container {
  width: 100%;
  height: 90%;
  margin: auto;
  background-color: #ffffff;
  padding: 2rem;
  display: flex;
  
}

.cont {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: auto;
  align-items: flex-end;
}

.photoContainer {
  border-radius: 10px;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
}
.photoContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photoSkeleton{
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #ededed, #c9c9c9);
  background-size: 400% 400%;
  animation: loadingAnimation 2s ease-in-out infinite;
}
.tex_cont {
  width: 100%;
  margin-left: 1.2rem;
  position: relative;
}

.tex {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1rem;
}
.tex p {
  margin: 0;
}
.name {
  font-size: 1.8rem;
  font-weight: 600;
  padding-bottom: 1.2rem;
}
.cohort {
  font-size: 1.6rem;
  font-weight: 400;
}
.icon {
  top: 0px;
  position: absolute;
  right: -10px;
  cursor: pointer;
}
@keyframes loadingAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}