.container {
    width: 100%;
    height: 90%;
    margin: auto;
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    padding: 20px 30px;
}

.cont {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    align-items: flex-end;
}

.circulo_cont {
    width: 50%;
    margin: auto;
}
.circulo img {
    width: 90%;
    margin: auto;
    border-radius: 50%;
}
.but_cont a {
    text-decoration: none;
}

.circulo {
    width: 125px;
    height: 125px;
    border-radius: 100%;
    background-color: #d7d7d7;
    margin-top: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.img_cont {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: 5px;
}

.but_cont {
    width: 45;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.button {
    display: flex;
    width: 120px;
    height: 30px;
    background-color: #ffcc02;
    border-radius: 10px;
    color: #010101;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: black;
    color: #ffcc02;
}

.tex_cont {
    width: 100%;
    display: flex;
    justify-content: right;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.tex {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    cursor: pointer;
}
.icon p {
    margin: 0;
}
.icon i {
    width: 20px;
}
