.section {
    padding: 15rem 0 2rem;
    width: 100%;
    min-height: 100vh;
}

.cardContainer {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    /*
    display: grid;
    grid-template-columns: repeat(autofill, 600px);
    grid-column-end: -1;
    gap: 40px;
    padding: 40px;
    justify-content: space-between;*/
}

.newscard {
    width: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px #92c149;
    margin-bottom: 30px;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 800px) {
    .newscard {
        width: 100%;
    }

    .commentHidden {
        width: 50px;
    }
}

.userInformation {
    display: flex;
    justify-content: initial;
}

.iconsCard {
    display: flex;
    justify-content: space-between;
}

.namePerson {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 700 bold;
    margin: 8px;
}

.cohort {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin: 8px;
}

.time {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 100;
    margin: 8px;
}

.paragraph1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 300;
}
/*
.cardContainer:hover {
    transform: scale(1.1);
}
*/
.eventsContainer {
    overflow: hidden;
    height: auto;
    width: 100%;
    background-color: white;
}

.eventsContainer p {
    width: 100%;
}

.imageAvatar {
    overflow: hidden;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
}

.imageAvatar img {
    width: 100%;
    height: 100%;
}

.user {
    display: inline;
    height: 100px;
}

.commentHidden {
    border-radius: 50px;
    height: 35px;
    width: auto;
    font-size: 14px;
    margin-top: 10px;
}

.likeButton {
    display: flex;
    justify-content: left;
}

.btnComment {
    background-color: #ffd800;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    border-radius: 50px;
    font-weight: 500;
    margin-top: 10px;
}

.btnApply {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    background-color: #ffcc02;
    border-radius: 10px;
    color: #010101;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    flex-wrap: wrap;
    margin: 10px 35%;
    /*
    display: flex;
    background-color: #ffd800;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    border-radius: 50px;
    font-weight: 500;
    margin: 0 auto;
    width: 4.5rem;
    height: 30px;
    justify-content: center;
    */
}
