
.container{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid;
    border-radius: 15px;
    padding: 20px 20px;
    border-color: #92C149;
    background-color: #ffffff;
}

.title_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
    
   
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

.tecnologias button {
  
    width:90px;
    height: 30px;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid;
    border-color: #92C149;
    background-color: #ffffff;
    

}

.tecnologias{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.boton2{
display: flex;
justify-content: center;
justify-content: space-around;
align-items: center;
margin-top: 40px;
margin-bottom: 20px;

}

.boton_principal2 {
    display: flex;
    width: 90px;
    height: 30px;
    background-color: #FFCC02;
    border-radius: 10px;
    color: #010101;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.boton_principal2:hover {
    background-color: black;
    color: #FFCC02;
}

@media (min-width: 1024px) {


}