.title {
    display: flex;
    font-size: 1.6rem;
    align-items: center;
}

.subtitle {
    font-size: 1.8rem;
}

.form label {
    font-size: 1.6rem;
}

.form label span {
    font-size: 1.6rem;
    color: var(--required-fied);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.formCohortContainer {
    display: flex;
    flex-direction: column;
}

.formCohortContainer input {
    background-color: var(--input-color);
    border: none;
    /* border-radius: 5px; */
    height: 3rem;
    width: 25rem;
    border-bottom: 3px solid #FFCC02;
}

.formCohortContainer input:hover {
    opacity: 0.5;
}

.formCohortContainer input:focus {
    outline: none;
}

.button {
    background-color: #FFCC02;
    border: none;
    border-radius: 5px;
    color: black;
    height: 3.2rem;
    width: 25rem;
    margin-bottom: 1em;
    cursor: pointer;
    transition: all ease 0.3s;
}

.button:hover {
    transform: scale(1.1);
    background-color: #282828;
    border: 2px solid #535353;
    color: #FFCC02;
}

.tableContainer {
    overflow-x: auto;
    padding: 2%;
}

.table {
    background: #282828;
    border-collapse: collapse;
    width: 100%;
}

.table th {
    background-color: #535353;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 0 4rem;
}

.table td {
    text-align: center;
}

.table thead {
    position: sticky;
    height: 4em;
}

.table tr {
    border-bottom: 1px solid #dddddd;
    font-size: 1rem;
    height: 5.5rem;
}

.tdDelete {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.btnDelete {
    background-color: #FFCC02;
    border: 1px solid black;
    width: 40px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:400px) {
    .table th {
        padding: 0;
    }
}