.title {
  display: flex;
  font-size: 1.6rem;
  align-items: center;
}
.subtitle {
  font-size: 1.8rem;
}
.form input {
  background-color: var(--input-color);
  border: none;
  /* border-radius: 5px; */
  height: 3rem;
  width: 25rem;
}
.form label {
  font-size: 1.6rem;
}
.form label span {
  font-size: 1.6rem;
  color: var(--required-fied);
}

.form {
  display: flex;
  flex-wrap: wrap;
  width: 60rem;
  justify-content: space-around;
}
.formCohortContainer {
  display: flex;
  flex-direction: column;
}

.button {
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  color: black;
  height: 3.2rem;
  width: 25rem;
}

.tableContainer {
  overflow-x: auto;
  padding: 2%;
}
.table {
  border-collapse: collapse;
  width: 100%;
}
.table th {
  background-color: #eceff1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 0 4rem;
}

.table td {
  text-align: center;
}

.table thead {
  position: sticky;
  height: 4em;
}

.table tr {
  border-bottom: 1px solid #dddddd;
  font-size: 1rem;
  height: 5.5rem;
}