.container1 {
    width: 357px;
    height: auto;
    min-height: 177px;
    display: flex;
    background-color: white;
    
    padding: 5px 15px;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #000;
}


.icon_cont {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 24px;
    font-weight: 900;
}

.icon_cont2 {
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 20px;
}

.icon_cont2 p {
    margin-top: 0;
    font-size: 15px;
}

@media (min-width: 768px) {
    .container2 {
        width: 90%;
        max-width: 90%;
    }
}

@media (min-width: 1024px) {
    .container2 {
        width: 98%;
        max-width: 1112px;
    }
}
