.navBar {
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 5;
  width: 100%;
  display: flex;
  align-items: center;
  height: 80px;
  margin-bottom: 50px;
}
.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: -1;
}
.navLeft {
  display: flex;
  align-items: center;
}

.containerPhoto {
  display: flex;
  align-items: center;
}

.btnNotification {
  border: none;
  background: none;
  padding: 0%;
}
.imgProfile {
  width: 40px;
  border-radius: 10px;
  object-fit: cover;
  height: 40px;
}
/*========================= Dropdown ========================= */
.dropdownLogOut {
  width: 30px;
  height: 30px;
  user-select: none;
  margin: 0 5px;
  position: relative;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.dropdownBtn {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdownBtn:hover {
  color: #ffcc02;
}

.dropdownContent {
  position: absolute;
  top: 56px;
  right: 0;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  color: #333;
  width: 145px;
  border-radius: 10px;
}
.dropdownContent a {
  text-decoration: none;
  color: black;
}
.dropdownOptions {
  padding: 8px;
  display: flex;
  align-items: center;
  column-gap: 3px;
}

/*========================= End Dropdown ========================= */
