.editor_container {
    color: #fff;
    background-color: #282828;
    padding-top: 5em;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form_container {
    margin: 0 8px;
    padding: 0 8px;
    max-width: 1500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    border: 0.5px solid #FFCC02;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.form_container input {
    background-color: #282828;
    color: #fff;
    border: none;
    height: 3rem;
    border-bottom: 3px solid #FFCC02;
    width: 100%;
}

.form_container textarea {
    background-color: #535353;
    box-shadow: 1px 2px 2px 1px rgba(182, 180, 180, 0.473);
    padding: 2rem;
    color: #fff;
    border: none;
    width: 100%;
    height: 15rem;
}

.form_button {
    background-color: #FFCC02;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    height: 3.2rem;
    width: 200px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.form {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem;
}

.form select {
    padding: 0.5rem;
    font-family: inherit;
    background-color: #272727;
    color: #FFCC02;
    border: 3px solid #FFCC02;
    width: 40%;
}

.row_inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0.5rem 5px;
}

.row_inputs input {
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    margin-left: 5px;
}

.contentInput {
    margin-left: 5px;
}

a {
    color: #FFCC02;
    font-size: 20px;
}

.tags {
    height: 200px;
}

.tags button {
    border-radius: 10px;
    background-color: #535353;
    color: #FFCC02;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-color: transparent;
    margin: 1em
}

.expirience_container .card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    margin: 2em;
    max-width: 500px
}

@media (max-width: 425px) {
    .row_inputs {
        flex-direction: column;
    }
}

@media (min-width: 700px) {
    .form_container textarea {
        background-color: #535353;
        color: #fff;
        font-size: 20px;
    }

    .form select {
        font-size: 15px;
    }
}