.from_container {
    width: 98%;
    display: flex;
    flex-direction: column;
    padding:  2rem;
    margin-top: 30px;
    
}

.nom {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    border-style: solid;
    border: 1px solid;
    border-color: #eceff1;
    padding: 0px;
    font-size: 18px;
    outline: none;
    padding-left: 10px;
    background-color: #eceff1;
}

.tecnologias button {
    width: 120px;
    height: 90%;
    padding: 8px 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #ffcc02;
    background-color: #ffcc02 ;
    cursor: pointer;
    
}

.tecnologias {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.enviar button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 40px;
    background-color: #ffcc02;
    border-radius: 10px;
    color: #010101;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    flex-wrap: wrap;
    margin: 20px 35%;
  
}

.enviar button:hover {
    background-color: black;
    color: #ffcc02;
}

.enviar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

/* Medium (md) */
@media (min-width: 768px) {
    /* ... */
}

/* Large (lg) */
@media (min-width: 1024px) {
    .from_container {
        width: 98%;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .forms {
        width: 100%;
    }

    .enviar {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 40px;
    }
}

.headerPerfil {
    width: 98%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 10px;
    margin-bottom: 20px;
    position: relative;
    padding: 10px;
}

.headerPerfil h2 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.headerPerfil img {
    width: 60px;
    position: absolute;
    left: 0;
}