.headerPerfil {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 10px;
    border-bottom: 1px solid #ffcc02;
    margin-bottom: 20px;
    position: relative;
}

.headerPerfil h2 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.headerPerfil img {
    width: 60px;
    position: absolute;
    left: 0;
}

.welcome {
    width: 90%;
    font-size: 18px;
    margin: 30px auto;
    text-align: right;
}

.label {
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

.containPhoto {
    width: 100%;
    text-align: center;
}

.iconsHead {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.iconsHead label {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

.icons .icon {
    font-size: 1.4em;
    cursor: pointer;
}
.icons i {
    margin-right: 15px;
}

.inputFile {
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.inputFile input[type="file"]::-webkit-file-upload-button {
    cursor: pointer;
}

.inputFile [type="file"] {
    cursor: pointer;
    display: block;
    font-size: 100px;
    filter: alpha(opacity = 0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    text-align: left;
    top: 0;
}

.fileImage {
    width: 100px;
    height: 100px;
    background-color: #d7d7d7;
    margin: auto;
    border-radius: 50%;
}

.fileImage img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* .contain-input {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.contain-input input {
    width: 100%;
} */

@media (min-width: 640px) {
    .header-perfil h2 {
        font-size: 20px;
    }

    .fileImage {
        width: 120px;
        height: 120px;
    }
}

@media (min-width: 1024px) {
    .fileImage {
        width: 120px;
        height: 120px;
    }
}
