.homePage {
    background-color: #535353;
    scrollbar-width: none;
    padding-top: 80px;
}

.containBody {
    display: flex;
    width: 100%;
    max-width: 1240px;
    background-color: #535353;
    padding: 5px;
    gap: 15px;
    justify-content: center;
    margin: auto;
    /* max-height: 300vh; */
    padding-bottom: 40px;
}

.containProfile {
    width: 28%;
    position: sticky;
    top: 111px;
    height: 200px;
}

.mainContent {
    width: 100%;
    max-width: 750px;
    border-radius: 15px;
}

.containNotifications {
    width: 28%;
    border-radius: 15px;
    position: sticky;
    top: 50px;
    right: 10px;
    overflow: hidden;
}

.containFilter {
    /* width: 47%; */
    max-width: 750px;
    margin: 25px auto;
}

.filter {
    width: 95%;
    user-select: none;
    margin: 0px auto 10px;
    position: relative;
}

.filter input {
    padding: 15px 20px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    border-radius: 50px;
    width: 100%;
    height: 35px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.filter i {
    position: absolute;
    right: 18px;
    width: 15px;
    top: 10px;
}

@media (min-width: 768px) {
    .contenZoom {
        position: fixed;
        display: flex;
        margin-left: 5em;
    }
    .mainContent {
        width: 85%;
        max-width: 85%;
        margin: auto;
    }
    .containFilter {
        width: 100%;
        max-width: 100%;
    }
    .filter {
        width: 95%;
        margin: 0px auto 15px;
    }
}

@media (min-width: 1024px) {
    .containFilter {
        width: 100%;
        max-width: 540px;
    }
    .filter {
        width: 95%;
        margin: 10px auto;
    }
    .mainContent {
        /* width: 47%; */
        max-width: 750px;
        margin: 0;
    }
}