.section {
    padding: 3rem 0 2rem;
    min-height: 100%;
    width: 100%;
}

.from_container {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
}
.tecnologias button {
    width: 100px;
    height: 90%;
    padding: 3px;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid;
    border-color: #ffcc02;
    background-color: #ffcc02 ;
  
}

.textarea {
    width: 100%;
    height: 150px;
    padding: 15px;
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-radius: 2px;
    font-size: 18px;
    outline: none;
    border-color: #eceff1;
    background-color: #eceff1;
    resize: none;
}

.subtitle, .opcion {
    font-family: "Roboto", sans-serif;
    margin-left: 5px;
    font-size: 18px;
}

.nom {
    width: 100%;
    border-radius: 2px;
    border: 1px solid;
    padding: 10px;
    font-size: 16px;
    outline: none;
    border-color: #eceff1;
    background-color: #eceff1;
    
}
.select {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border: 1px solid;
    border-color: #eceff1;
    border-radius: 2px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../../assets/images/arrow.svg");
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
    background-color: #eceff1;
}


.tecnologias {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.enviar button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 40px;
    background-color: #ffcc02;
    border-radius: 10px;
    color: #010101;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    flex-wrap: wrap;
    margin: 20px 35%;
}

.enviar button:hover {
    background-color: black;
    color: #ffcc02;
}

.enviar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.headerPerfil {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 10px;
    border-bottom: 1px solid #ffcc02;
    margin-bottom: 20px;
    position: relative;
}

.headerPerfil h2 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.headerPerfil img {
    width: 60px;
    position: absolute;
    left: 0;
}

/* Medium (md) */
@media (min-width: 768px) {
    .from_container {
        width: 70%;
    }
}

/* Large (lg) */
@media (min-width: 1024px) {
    .from_container {
        width: 90%;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .forms {
        width: 47%;
    }

    .enviar {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 40px;
    }
}
