.name {
    padding: 2%;
    margin: 0;
}

.tableContainer {
    overflow-x: auto;
    padding: 2%;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th {
    background-color: #535353;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 0 4rem;
}

.table td {
    text-align: center;
}

.table thead {
    position: sticky;
    height: 4em;
}

.table tr {
    border-bottom: 1px solid #dddddd;
    font-size: 1rem;
    height: 5.5rem;
}

.deleteBtn {
    background-color: #ffcc02;
}

.editBtn {
    cursor: pointer;
    color: #ffcc02;
    background: none;
    border: none;
    cursor: pointer;
}