.questionContainerMain {
    border: 1px solid #D7D7D7;
    padding: 2.3rem;
    border-radius: 2px;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-top: 15px;
}
.answer__title {
    padding: 2rem 0 0 0;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    column-gap: 5px;
    margin: 0;
    animation: mymove 6s infinite;
}
@keyframes mymove {
    0% {
        left: 100rem;
        color: #ffcc02;
        width: 85%;
    }
    100% {
        left: 200rem;
        left: 50%;
        color: black;
        width: 100%;
    }
}   
.question__lineTitle {
    width: 150px;
    border: 2px solid #ffcc02;
}

.title {
    text-align: center;
    font-size: 1.3rem;
}
.question,
.tagsItems,
.name {
    margin: 0;
}
.containerQuestion {
    display: flex;
    gap: 2rem;
}
.containerQuestion img{
    width: 7rem;
    height: 7rem;
    border-radius: 5px;
}
.dateQuestion{
    margin-left: auto;
    font-size: 1.3rem;
}
.questionName{
    font-size: 1.8rem;
}
.questionTitle {
    font-size: 2rem;
    margin: 0;
}
.questionText{
    color: #504f4f;
    font-size: 1.5rem;
}

.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 5px;
}
.tagsItems {
    padding: 0.5rem 1rem;
    background-color: #d7d7d7;
    border-radius: 5px;
    font-family: Gilroy-light;
    letter-spacing: 1.5px;
}
.infoContainer {
    margin-left: auto;
}
.enviar button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 40px;
    background-color: #ffcc02;
    border-radius: 10px;
    color: #010101;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    flex-wrap: wrap;
    margin-left: auto;
}
.enviar button:hover {
    background-color: black;
    color: #ffcc02;
}

.from_container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
}


.nom {
    width: 100%;
    height: auto;
    display: flex;
    text-justify: justify;
    border-radius: 2px;
    border: 1px solid #ECEFF1;
    padding: 10px 15px;
    font-size: 18px;
    resize: none;
    background-color: #ECEFF1;
    /* padding-left: 25px;*/
}

.enviar button {
    display: flex;
    width: 95px;
    height: 40px;
    background-color: #ffcc02;
    border-radius: 2px;
    color: #010101;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    flex-wrap: wrap;
}

.enviar button:hover {
    background-color: black;
    color: #ffcc02;
}

.enviar {
    width: 100%;
    display: flex;
    justify-content: center;
}
.links {
    cursor: pointer;
    margin-left: auto;
}
.links:hover {
    cursor: pointer;
    text-decoration: underline;
}
.answerInfoAnswer{
    display: flex;
    gap: 20px;
}
.answerAvatar{
    width: 7rem;
    height: 7rem;
    border-radius: 2px;
}
.dateQuestion2{
    margin-left: auto;
    font-size: 1.3rem;
}
.answerName{
    font-size: 1.8rem;
}
.answerDelete{
    margin-left: auto;
}
.answerUserAnswer{
    color: #504f4f;
    font-size: 2rem;
}

/* Medium (md) */
