.questionContainerMain {
    border: 2.2px solid #92c149;
    padding: 1rem 2rem;
    border-radius: 20px;
    width: 80%;
    box-shadow: 0px 10px 10px -6px black;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-top: 15px;
}

.questionContainerMain img {
    width: 3rem;
    max-height: 3rem;
}

.title {
    text-align: center;
}
.question,
.tagsItems,
.name,
.dateQuestion {
    margin: 0;
}
.containerQuestion {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.question {
    font-size: 17px;
}
.dateQuestion {
    font-size: 14px;
}
.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 5px;
}
.tagsItems {
    padding: 0.5rem 1rem;
    background-color: #d7d7d7;
    border-radius: 5px;
    font-family: Gilroy-light;
    letter-spacing: 1.5px;
}
.infoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.enviar button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    background-color: #ffcc02;
    border-radius: 10px;
    color: #010101;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 18px;
    flex-wrap: wrap;
    margin: 10px 35%;
}
.enviar button:hover {
    background-color: black;
    color: #ffcc02;
}

.from_container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.nom {
    width: 100%;
    height: 102px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border-style: solid;
    border: 1px solid;
    padding: 10px 15px;
    font-size: 18px;
    outline: none;
    /* padding-left: 25px;*/
}

.enviar button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    background-color: #ffcc02;
    border-radius: 10px;
    color: #010101;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 18px;
    flex-wrap: wrap;
    margin: 10px 35%;
}

.enviar button:hover {
    background-color: black;
    color: #ffcc02;
}

.enviar {
    width: 100%;
    display: flex;
    justify-content: center;
}
.links {
    cursor: pointer;
}
.links:hover {
    cursor: pointer;
    text-decoration: underline;
}
/* Medium (md) */
