.contenedor {
  width: 90px;
  height: 240px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.botonF1 {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #f44336;
  right: 0;
  bottom: 0;
  position: absolute;
  margin-right: 16px;
  margin-bottom: 16px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 36px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
}
span {
  transition: 0.5s;
}
.botonF1:hover span {
  transform: rotate(360deg);
}
.botonF1:active {
  transform: scale(1.1);
}
.btn {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 28px;
  outline: none;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 26px;
  transform: scale(0);
}
.botonF2 {
  background: #2196f3;
  margin-bottom: 85px;
  transition: 0.5s;
}
.botonF3 {
  background: #673ab7;
  margin-bottom: 130px;
  transition: 0.7s;
}
.botonF4 {
  background: #009688;
  margin-bottom: 175px;
  transition: 0.9s;
}
.botonF5 {
  background: #ff5722;
  margin-bottom: 220px;
  transition: 0.99s;
}
.animacionVer {
  transform: scale(1);
}
