.contenedor {
  width: 90px;
  height: 240px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.botonF1 {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #ffcc02;
  left: 0;
  bottom: 0;
  position: fixed;
  margin-left: 16px;
  margin-bottom: 16px;
  border: none;
  outline: none;
  color: var(--text-color);
  font-size: 25px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
}

.botonF1:click span {
  transform: rotate(360deg);
}
.botonF1:active {
  transform: scale(1.1);
}
