
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: 500px;
    font-family: 'Roboto', sans-serif;
   
}

.cont{
    width: 20%;
    height: 140%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 40px;
   
}

.icon{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    
}

.cont p{
    font-size: 18px;
    font-weight: 900;
    
}

.cont i{
  
    font-size: 40px;
    
}