@font-face {
    font-family: Gilroy-bold;
    src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: Gilroy-light;
    src: url("../fonts/Gilroy-Light.otf") format("opentype");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    padding: 0;
}

p {
    font-family: Gilroy-light;
}
