@font-face {
    font-family: Gilroy-bold;
    src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: Gilroy-light;
    src: url("../fonts/Gilroy-Light.otf") format("opentype");
}

:root {
    --main-color: #ffcc02;
    --text-color: #232323;
    --input-color: #eceff1;
    --input-text: #2c2a2a;
    --secundary-background: #282828;
    --required-fied: #e72a2a;
    --background: #535353;
    --backgroundL: #d1d1d1;
}


* {
    box-sizing: border-box;
}

html {
    font-size: 75%;
    /* background-color: var(--background); */
}

body {
    font-family: Gilroy-light;
    padding: 0;
    min-height: 100vh;
    /* background-color: var(--background); */
}

li {
    font-family: Gilroy-light;
}

p {
    font-family: Gilroy-light;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
